---
- name: Deploy BookMate Application
  hosts: all
  become: yes
  
  tasks:
    - name: Install Docker
      apt:
        name: 
          - docker.io
          - docker-compose
        state: present
        update_cache: yes
    
    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: yes
    
    - name: Clone BookMate repository
      git:
        repo: 'https://github.com/Srivaxshana/BookMate.git'
        dest: /opt/bookmate
        version: main
    
    - name: Build and run containers
      shell: |
        cd /opt/bookmate
        docker-compose up -d
